/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.overview {
  padding: 9px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  background-color: #f7f7f9;
  max-width: 400px;
}

div.port_box {
  padding: 9px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  background-color: #f7f7f9;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 1170px;
}