<div class="container-non-responsive">
    <h1 class="text-center">Nate Collings</h1>
    <hr>

    <div class="row overview">
        <div class="col-xs-12">Hi, my name is Nate, and I have a website! I'm currently a Junior majoring in Computer Science at Utah State University. I like programming a lot -- I've messed with a lot of frameworks and languages, but Python is my language of choice. Here's a few things I've done!</div>
    </div>

    <h2>Portfolio</h2>
    <hr>
    <div class="row">
        <div class="col-xs-3 port_box">
            <a href="http://steamplaytime.appspot.com">SteamPlaytime</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="http://trellorss.appspot.com">TrelloRSS</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="https://github.com/naiyt/steamgames">Steam API Wrapper</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 port_box">
            <a href="http://blog.natecollings.com/posts/25001">Basic Blog Software</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="http://blog.natecollings.com/posts/25001">Basic Wiki Software</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="https://github.com/naiyt/Search-engine">Basic Search Engine</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 port_box">
            <a href="/games">Games</a>
        </div>
    </div>
    <h3>Open Source Contributions</h3>
    <hr>
    <div class="row">
        <div class="col-xs-3 port_box">
            <a href="https://github.com/sarumont/py-trello">py-trello</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="http://saltstack.com/community.html">SaltStack</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 port_box">
            <a href="http://saltstack.com/community.html">Quintus</a>
        </div>
    </div>
    <hr>
    <h3><a href="/resume">Full Resume</a></h3>
    <hr>
    <p>Contact me at nate@natecollings.com</p>
    <p>

</div>