<div class="container-non-responsive">
    <canvas id="pacman"></canvas>
    <div class="box" id="top-left">Wins: 0</div>
    <div class="box" id="top-right"></div>
    <div class="box" id="name"><h2>Nate Collings</h2></div>
    <div class="box" id="resume"><h3><a href="/resume">Resume</a></div>
    <div class="box" id="contact">nate@natecollings.com<br><br><a href="https://twitter.com/NateCollings">@NateCollings</a></div>
    <div class="box" id="aboutme">About me, fools!</div>
    <div class="box" id="port1">TrelloRSS</div>
    <div class="box" id="port2">Steam API Wrapper</div>
    <div class="box" id="port3">Basic Blog Software</div>
    <div class="box" id="port4">Basic Wiki Software</div>
    <div class="box" id="port5">Games</div>
    <div class="box" id="port6">Steamplaytime</div>
    <div class="box" id="oss">Open Source Contributions</div>
    <div class="box" id="howto"><h4>Click somewhere in the maze, and use the direction keys to start playing. Press <em>Spacebar</em> to give control back to the AI.</h4><button class="btn btn-xs btn-primary">Pacman distracting?<br>Click for non-Pacman responsive version of the site</button></div>
    <div class="box" id="search">Basic Search Engine</div>
    <div class="box" id="tech">Tech</div>
    <div class="box" id="spacer1"></div>
    <div class="box" id="spacer2"></div>
</div>

